* {

    systemGray6: #000a4e;
    systemGray5: #00058f;
    systemGray4: #000667;
    systemGray3: #020391;
    systemGray2: #0040dd;
    systemGray:  #013298;

    systemBlue:  #0a84ff;
    blueLight:   #2290ff;
    systemCyan:  #5ac8f5;
    systemRed:   #ff453a;

    white:       #f0f0f0;


    primaryBackgroundColor:   systemGray6;
    secondaryBackgroundColor: systemGray5;
    thirdBackgroundColor:     systemGray4;
    fourthBackgroundColor:    systemGray3;
    fifthBackgroundColor:     systemGray2;
    sixthBackgroundColor:     systemGray;

    primaryTextColor: white;

    primaryBackgroundButtonColor: systemBlue;
    primaryOnHoverButtonColor:    blueLight;
}