* {
    systemGray6: #1c1c1e;
    systemGray5: #2c2c2e;
    systemGray4: #3a3a3c;
    systemGray3: #48484a;
    systemGray2: #636366;
    systemGray:  #8e8e93;

    systemBlue:  #0a84ff;
    blueLight:   #2290ff;
    systemCyan:  #5ac8f5;
    systemRed:   #ff453a;

    white:       #f0f0f0;


    primaryBackgroundColor:   systemGray6;
    secondaryBackgroundColor: systemGray5;
    thirdBackgroundColor:     systemGray4;
    fourthBackgroundColor:    systemGray3;
    fifthBackgroundColor:     systemGray2;
    sixthBackgroundColor:     systemGray;

    primaryTextColor: white;

    primaryBackgroundButtonColor: systemBlue;
    primaryOnHoverButtonColor:    blueLight;
}