* {
    -fx-text-fill: primaryTextColor;
    -fx-background-radius: 10px;
}

.external-pane {
    -fx-background-color: primaryBackgroundColor;
    -fx-background-radius: 0px;
}

.container-level-2 {
    -fx-background-color: secondaryBackgroundColor;
    -fx-width: 50%;
}

.primaryButton {
    -fx-background-color: primaryBackgroundButtonColor;
    -fx-background-radius: 30px;
}

.primaryButton:hover{
    -fx-background-color: blueLight;
}

.loginField {
    -fx-background-color: thirdBackgroundColor;
}

.sidebar {
    -fx-background-color: secondaryBackgroundColor;
    -fx-background-radius: 0px 10px 10px 0px;
}

.sidebar-button {
    -fx-background-color: thirdBackgroundColor;
}

.sidebar-button:hover {
    -fx-background-color: fourthBackgroundColor;
}

.sidebar-logout-button {
    -fx-background-color: fourthBackgroundColor;

}

.sidebar-logout-button {
    -fx-background-color: fourthBackgroundColor;
    -fx-text-fill: systemRed;
}

.sidebar-user-icon {
    -fx-background-color: thirdBackgroundColor;
    -fx-background-radius: 30px;
}

.primary-app-view {
    -fx-background-color: secondaryBackgroundColor;

}






