* {
    -fx-text-fill: primaryTextColor;
    -fx-background-radius: 10px;
}

.external-pane {
    -fx-background-color: primaryBackgroundColor;
    -fx-background-radius: 0px;
}

.container-level-2 {
    -fx-background-color: secondaryBackgroundColor;
}

.primaryButton {
    -fx-background-color: primaryBackgroundButtonColor;
    -fx-background-radius: 30px;
}

.primaryButton:hover{
    -fx-background-color: blueLight;
}

.loginField {
    -fx-background-color: thirdBackgroundColor;
}

.sidebar {
    -fx-background-color: secondaryBackgroundColor;
    -fx-background-radius: 0px 10px 10px 0px;
}

.sidebar-button {
    -fx-background-color: thirdBackgroundColor;
}

.sidebar-button:hover {
    -fx-background-color: fourthBackgroundColor;
}

.sidebar-logout-button {
    -fx-background-color: fourthBackgroundColor;

}

.sidebar-logout-button {
    -fx-background-color: fourthBackgroundColor;
    -fx-text-fill: systemRed;
}

.sidebar-user-icon {
    -fx-background-color: thirdBackgroundColor;
    -fx-background-radius: 30px;
}

.primary-app-view {
    -fx-background-color: secondaryBackgroundColor;
}

.imagePainContainer {
    -fx-background-color: blueLight;
}

.secondaryButton {
    -fx-background-color: thirdBackgroundColor;
}

#addButton {
    -fx-background-color: systemBlue;
}
#removeButton {
    -fx-text-fill: systemRed;
}
#editButton {
    -fx-background-color: thirdBackgroundColor;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-border-radius: 8px;
    -fx-border-color: primaryBackgroundColor;
}

.table-view .column-header-background .filled {
    -fx-background-color: primaryBackgroundColor;
}

.table-view .column-header-background{
    -fx-background-color: thirdBackgroundColor;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.searchField {
    -fx-background-color: thirdBackgroundColor;
}



